@import "tailwindcss";


@font-face {
  src: url('/fonts/tttravels/TT Travels Trial Black.otf') format('truetype');
  font-family: 'TTTravelsBlack';
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-clip {
  clip-path: polygon(0 0, 100% 0, 100% 87%, 75% 100%, 0 101%)
}

.custom-clip-episode {
  clip-path: polygon(0 0, 100% 0, 100% 87%, 75% 100%, 0 101%)
}

.testFont{
  font-family: 'TTTravelsBlack';
}