@import "tailwindcss";


/* @font-face {
  src: url('/fonts/tttravels/TT Travels Trial Black.otf') format('truetype');
  font-family: 'TTTravelsBlack';
} */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-clip {
  clip-path: polygon(0 0, 100% 0, 100% 86%, 82% 100%, 0 100%);
}

.custom-clip-episode {
  clip-path: polygon(0 0, 100% 0, 100% 64%, 70% 100%, 0 100%)

}

.bubble-image {
  position: absolute;
  top: 18%;
  left: 19%;
}

.portal-image {
  position: absolute;
  top: 37%;
  left: 43%;
  transform: translateX(-50%);
}

.portal-gun-image {
  position: absolute;
  bottom: 15%;
  right: 10%;
}
.accent-background {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

/* Green blur top-left */
.accent-background::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #22c55e; /* Tailwind's green-400 */
  opacity: 0.2;
  border-radius: 9999px;
  filter: blur(64px); /* blur-3xl */
  top: 10%;
  left: 28%;
  transform: rotate(12deg);
}
/* Green blur top-right*/
.accent-background::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #00feff;
  opacity: 0.2;
  border-radius: 9999px;
  filter: blur(64px);
  top: 9%;
  right: 23%;
  transform: rotate(12deg);
}
/* Cyan blur bottom-right */
.accent-background-2::after {
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #7aff8f; /* Tailwind's cyan-400 */
  opacity: 0.30;
  border-radius: 9999px;
  filter: blur(40px); /* blur-2xl */
  bottom: 2%;
  right: 5%;
  transform: rotate(45deg);
}


@media (max-width: 640px) {
  .bubble-image {
    top: 14%;
    left: 0%;
  }

  .portal-image {
    top: 21%;
    left: 41%;
    transform: translateX(-50%);
  }

  .portal-gun-image {
    top: 59%;
    right: 0%;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
      --background: #191d29;
      --foreground: #ededed;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.lighting-glow {
  position: absolute;
  bottom: -8%;
  left: -7%;
  width: 21rem;
  height: 14rem;
  background: radial-gradient(circle at top right, #3c819d00, rgb(102 175 255 / 21%), #18b0ef52);
  filter: blur(40px);
  border-radius: 9999px;
  pointer-events: none;
  z-index: 0;
}
.starIcon {
  position: absolute;
  top: -18%;
  left: 1%;
  rotate: 10deg;
}
.starIconRight {
  position: absolute;
  top: -24%;
  right: -2%;
  rotate: -10deg;
}
.starIconCenter {
  position: absolute;
  bottom: -14%;
  left: 57%;
  rotate: -10deg;
}

.background-shadow-text {
  position: absolute;
  top: 31%;
  left: -34%;
  font-size: 75px;
  font-weight: 600;
  color: #27bc5e;
  opacity: 0.05;
  user-select: none;
  z-index: 0;
  transform: rotate(270deg);
  pointer-events: none;
}

.vertical-divider {
   height: 35%; /* or your desired height */
    width: 0.6px;
    background: linear-gradient(to bottom, #81f72d, #1fdcd2);
    margin: auto 0; /* Vertically centers it */
}
  